<li>
  <h2 class="title"><%= entry.title %></h2>
  <div class="status p<%= entry.percent %> <%= 'green' if entry.percent == 100 %>">
    <span><%= entry.percent %>%</span>
    <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
    </div>
  </div>
  <p class="description"><%= entry.description %></p>

  <% if local_assigns[:include_links] %>
    <p class="edit"><%= link_to 'edit', edit_dashboard_entry_path(dashboard, entry) %></p>
  <% end %>
</li>
