<% content_for(:header_title, 'Dashboards') %>

<section class="dashboard-list">
  <p class="new">
    <%= link_to new_dashboard_path do %>
      <%= fa_icon "plus-circle" %>
      add a new dashboard
    <% end %>
  </p>

  <ul>
    <% dashboards.each do |dashboard| %>
      <li>
        <%= link_to dashboard_path(dashboard) do %>
          <h2><%= dashboard.title %></h2>
          <ul class="metadata">
            <% if dashboard.creator.present? %>
              <li>Created by <%= dashboard.creator.name %></li>
            <% end %>
            <li>Last updated <%= distance_of_time_in_words_to_now(dashboard.updated_at) %> ago</li>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
