<section class="dashboard">
  <%= render partial: 'header' %>

  <ul class="entries">
    <% entries.each do |entry| %>
      <%= render partial: 'entry', locals: { entry: entry,
                                             include_links: true } %>
    <% end %>

    <li class="new-entry">
      <%= link_to new_dashboard_entry_path(dashboard) do %>
        <%= fa_icon 'plus-circle' %> Add a new entry
      <% end %>
    </li>
  </ul>

  <p class="pdf-link">
    <%= link_to dashboard_path(dashboard, format: :pdf) do %>
      <%= fa_icon 'download' %> Download as PDF
    <% end %>
  </p>

</section>
