<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{yield(:title)} - " : "" %>Gap-o-matic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <main>
    <% flash.each do |key, message| %>
      <p class="flash flash-<%= key %>"><%= message %></p>
    <% end %>

    <%= yield %>
  </main>

  <footer>
    <% if user_signed_in? %>
      <p class="signed-in-user">
        <span><%= current_user.name %></span>
        <span><%= link_to 'sign out', destroy_session_path %></span>
      </p>
    <% end %>

    <p class="colophon">Created by Gap-o-matic</p>
  </footer>

</body>
</html>
